<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Page01.aspx.cs" Inherits="Program016.WebPage01.Page01" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
 </head>
 <body>
   <form id="form1" runat="server">
     <div>
      <% var object001 = "test"; %>
      value is <% Response.Write(object001);%></p>     
   </div>
  </form>
 </body>
</html>