﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home</title>
  
    <style>
        *{margin:0 ; padding:0;}

    </style>

</head>

<body>
    <div class="header" style="background-color:rgb(0, 148, 255); color:white; padding:10px;display:flex; flex-direction:row">
      
        <div class="kiri" style=" width: 60%;
        ">
            <h3> .NET CORE MVC </h3>
        </div>
        <div class="tengah" style="width:40%;">

            @{ string tanggal= DateTime.Now.ToString("dd-MMMM-yyyy");}
            <p>@tanggal</p>
        </div>
    </div>
    <div class="gambar">
        <img src="D:\program\program\Program017\ProgramMVC01\MVCPROJECT3\MVCProject003\Models\78869.jpg" />

    </div>
</body>
</html>
