﻿
*{margin:0; padding:0;}
.header{padding:20px; background-color:rgb(0, 148, 255); color:white;}
.menu{ padding:5px; background-color:rgb(61, 50, 50); color:white; display:flex; flex-direction:row;}
.menu1{ width:5%; padding:5px; color:white;}

.menu1 a{color:white; text-decoration:none;}

.menu1:hover{background-color:yellow;}

a{text-decoration:none;}
body {
}
