﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Main2/Main2.Master" AutoEventWireup="true" CodeBehind="Content2.aspx.cs" Inherits="SubProgram007a.Content2" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
        <h3> Content 2</h3>


</asp:Content>
