﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Main1/Main1.Master" AutoEventWireup="true" CodeBehind="Content1.aspx.cs" Inherits="SubProgram007a.Content1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <h3> Content 1</h3>
</asp:Content>
