<%@ Page Language="C#" %>
 <script language="C#" runat="Server"> 
 void Page_Load(object sender, EventArgs e) 
 { 
controller001.Text =operation001();
 }
 
 string operation001()
 {
       return DateTime.Now.ToString();

 }
 
 </script> 
<html> 
 <head> 
 <title></title>
 </head>
 <body> 
 <asp:Label ID="controller001" runat="Server" />
 </body> 
 </html>
