﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
    @{ var object002 = "";
        string object001 = "tes";
        object002 = object001;
        }
        
        <p> Value001 = @object002;</p>

    </div>
</body>
</html>
