﻿
@page "/Page001"
<h3>Page001</h3>

<p> Blazor Page With C#</p>

<input type="text" class="form-control" placeholder="input value" @bind-value="@object001" />
<button class="btn btn-dark" @onclick="operation001"> process</button>



@code {

    private string object001 = "klik tombol untuk melihat value date";

    private void operation001()
    {
        object001 = DateTime.Now.ToString();

    }



}
