﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home</title>
  
       
        
</head>

<body>
    <div class="header">

    </div>
</body>
</html>
